#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35vh;
    background-color: #111;
    min-height: 95vh
}
.at-symbol-img {
    user-select: none;
    position: absolute;
    z-index: 0;
    left: 1rem;
    top: 18vh;
}
.at-symbol-img img {
    width: 15rem;
    filter: brightness(50%);
}
.password-img {
    user-select: none;
    position: absolute;
    z-index: 0;
    right: 2rem;
    top: 50vh;
}
.password-img img {
    filter: brightness(50%);
    width: 15rem;
}
.change {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 55%;
}
.change-text {
    font-size: 2rem;
    color: #eee;
    text-align: center;
}
#changeform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 60%;
}
#changeform input {
    outline: none;
    width: 100%;
    color: #ddd;
    font-size: 1.3rem;
    padding: .4rem 2rem;
    border-radius: .4rem;
    background-color: #333;
    border: 2px solid rgb(141, 141, 141);
    caret-color: #ddd;
}
#changeform input:-webkit-autofill,
#changeform input:-webkit-autofill:hover, 
#changeform input:-webkit-autofill:focus, 
#changeform input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px #333 inset;
    -webkit-box-shadow: 0 0 0 30px #333 inset !important;
}
#changeform input:-webkit-autofill{
    -webkit-text-fill-color: #ddd !important;
}
#changeform input::placeholder {
    color: #999;
}
.email-error {
    text-align: center;
    width: 200%;
    margin-top: .2rem;
    font-size: 1rem;
    color: #924CBA;
    min-height: 1rem;
}
.change-btn {
    margin-top: 2.5rem;
    font-size: 1.4rem;
    padding: .4rem 3rem;
    outline: none;
    background-color: rgb(224, 224, 224);
    border-radius: .4rem;
    outline: none;
    border: 2px solid rgb(230, 230, 230);
    transition-duration: .2s;
}
.change-btn:hover {
    background-color: #222;
    color: #ddd;
    border-color: #555;
}
.sent {
    text-align: center;
    width: 90%;
    color: rgb(219, 219, 219);
    font-size: 2rem;
}
.u-email {
    color: #eee;
    font-weight: 500;
}
.loading {
    position: fixed;
    top: 36vh;
    left: 45vw;
    z-index: 2;
    padding: 1.5rem;
    border-radius: 2rem;
    opacity: 0;
    visibility: hidden; 
    transition-duration: .3s;
    box-shadow: 0 0 2px 1px #555;
}
.loading img {
    position: relative;
    width: 6rem;
    opacity: 0;
    visibility: hidden;
}
.loading.active {
    opacity: 1;
    visibility: visible;
    background-color: rgba(48, 48, 48, 0.75);
    backdrop-filter: blur(7px);
}
.loading.active img {
    opacity: 1;
    visibility: visible;
    animation-name: loading;
    animation-timing-function: linear;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes loading {
    100% {
        transform: rotate(360deg);
    }
}