@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', 'Arial', sans-serif;
}
body {
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: .6rem; 
    background-color: #ffffff;
    border-radius: 50%;
}

::-webkit-scrollbar-thumb {
    background-color: #222;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #444;
}
#header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 4rem;
    background: transparent;
    background-color: rgba(17, 17, 17, 0.98);
    border-bottom: 1px solid rgb(88, 88, 88);
    z-index: 2;
}
.logo {
    width: 20%;
}
.logo a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}
.logo-text {
    font-size: 1.8rem;
    color: #fff;
    margin-left: 1rem;
}
.logo img {
    width: 20%;
}
.header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    min-width: 25rem;
}
.header-menu__item a,
.auth-menu__item  a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 2px;
    padding: .5rem;
    padding-bottom: 4px;
    transition-duration: .2s;
    border-bottom: 3px solid transparent;
}
.header-menu__item a:hover{
    border-bottom: 3px solid rgb(37, 61, 172);
    color: rgb(37, 61, 172)
}
.auth-menu__item a:hover{
    border-bottom: 3px solid rgb(224, 39, 39);
    color: rgb(224, 39, 39);
}
.auth-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 18%;
}
#main {
    padding-top: 35vh;
    background-color: #111;
    min-height: 95vh;
}
.link-img {
    user-select: none;
    z-index: 1;
    position: absolute;
    right: 2rem;
    top: 8rem
}
.link-img img {
    filter: brightness(60%);
    width: 15rem;
}
.email-img {
    user-select: none;
    z-index: 1;
    position: absolute;
    top: 24rem;
    left: 3rem;
}
.email-img img {
    filter: brightness(60%);
    transform: rotate(-20deg);
    width: 16rem;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container div{
    text-align: center;
    color: rgb(220, 220, 220);
    font-size: 1.7rem;
    font-weight: 400;
    width: 60%;
}
.courses-link {
    margin-top: 5rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    padding: .8rem 3.4rem;
    border: 2px solid #bd39bd;
    border-radius: 5px;
    transition-duration: .4s;
}
.courses-link:hover {
    border: 2px solid #4b2c86;
}
.u-email {
    color: #eee;
    font-weight: 500;
}
#footer {
    position: relative;
    z-index: 2;
    text-align: center;
    border-top: 2px solid #fff;
    background-color: #111;
    padding-top: 2rem;
}
.footer-menu__item a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}
.footer-menu__item a:hover {
    border-bottom: 3px solid #fff;
}
.footer-menu__item {
    margin-top: 1rem;
}
.copyright {
    margin-top: 2rem;
    color: #fff;
    font-size: .8rem;
    padding-bottom: .8rem;
}