#main {
    padding-top: 35vh;
    background-color: #111;
    min-height: 95vh;
}
.link-img {
    user-select: none;
    z-index: 1;
    position: absolute;
    right: 2rem;
    top: 8rem
}
.link-img img {
    filter: brightness(60%);
    width: 15rem;
}
.email-img {
    user-select: none;
    z-index: 1;
    position: absolute;
    top: 24rem;
    left: 3rem;
}
.email-img img {
    filter: brightness(60%);
    transform: rotate(-20deg);
    width: 16rem;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container div{
    text-align: center;
    color: rgb(220, 220, 220);
    font-size: 1.7rem;
    font-weight: 400;
    width: 60%;
}
.courses-link {
    margin-top: 5rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    padding: .8rem 3.4rem;
    border: 2px solid #bd39bd;
    border-radius: 5px;
    transition-duration: .4s;
}
.courses-link:hover {
    border: 2px solid #4b2c86;
}
.u-email {
    color: #eee;
    font-weight: 500;
}