@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', 'Arial', sans-serif;
}
body {
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: .6rem; 
    background-color: #ffffff;
    border-radius: 50%;
}

::-webkit-scrollbar-thumb {
    background-color: #222;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #444;
}
#header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 4rem;
    background: transparent;
    background-color: rgba(17, 17, 17, 0.98);
    border-bottom: 1px solid rgb(88, 88, 88);
    z-index: 2;
}
.logo {
    user-select: none;
    width: 20%;
}
.logo a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}
.logo-text {
    font-size: 1.8rem;
    color: #fff;
    margin-left: 1rem;
}
.logo img {
    width: 20%;
}
.header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    min-width: 25rem;
}
.header-menu__item a,
.auth-menu__item  a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 2px;
    padding: .5rem;
    padding-bottom: 4px;
    transition-duration: .2s;
    border-bottom: 3px solid transparent;
}
.header-menu__item a:hover{
    border-bottom: 3px solid rgb(37, 61, 172);
    color: rgb(37, 61, 172)
}
.auth-menu__item a:hover{
    border-bottom: 3px solid rgb(224, 39, 39);
    color: rgb(224, 39, 39);
}
.auth-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 18%;
}
#main {
    padding-top: 28vh;
    background-color: #111;
    min-height: 100vh;
}
.mail {
    user-select: none;
    position: absolute;
    z-index: 1;
    left: 1rem;
    top: 7rem;
}
.mail img{
    filter: brightness(60%);
    transform: rotate(-20deg);
    width: 15rem;
}
.as {
    user-select: none;
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 21rem;
}
.as img {
    filter: brightness(60%);
    width: 15rem;
}
.confirm-email {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nadiv {
    font-size: 2.1rem;
    color: rgb(220, 220, 220);
}
.u-email {
    font-weight: 500;
    color: #eee;
}
.nbdiv {
    max-width: 55%;
    margin-top: 4rem;
    font-size: 1.4rem;
    line-height: 2rem;
    color: rgb(220, 220, 220);
    letter-spacing: 1px;
    text-align: center;
}
.resend{
    margin-top: 5rem;
    color: rgb(220, 220, 220);
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
}
.resend-link{
    color: #0d62c4;
    text-decoration: none;
    margin-left: 1rem;
    border-bottom: 3px solid #111;
    transition-duration: .2s;
}
.resend-link:hover {
    border-bottom: 3px solid #0d62c4;
}
.resend-time {
    margin-left: 1.2rem;
    padding: .5rem 1rem;
    color: rgba(70, 70, 70);
}
.resend-timer {
    margin-left: .2rem;
    padding: .6rem;
    border: 2px solid #1071e0;
    border-radius: .5rem;
    color: #1071e0;
}
.send-status {
    opacity: 0;
    visibility: hidden;
    transition-duration: .5s;
    margin-top: 2rem;
    font-size: 1.3rem;
    letter-spacing: .5px;
}
.send-status.send {
    opacity: 1;
    visibility: visible;
    color: #924CBA;
}
.send-status.time {
    opacity: 1;
    visibility: visible;
    color: #d1a93c;
}
.send-status.ok {
    opacity: 1;
    visibility: visible;
    color: #34B291;
}
#footer {
    text-align: center;
    border-top: 2px solid #fff;
    background-color: #111;
    padding-top: 2rem;
}
.footer-menu__item a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}
.footer-menu__item a:hover {
    border-bottom: 3px solid #fff;
}
.footer-menu__item {
    margin-top: 1rem;
}
.copyright {
    margin-top: 2rem;
    color: #fff;
    font-size: .8rem;
    padding-bottom: .8rem;
}
.loading {
    position: fixed;
    top: 43vh;
    left: 45vw;
    z-index: 2;
    padding: 1.5rem;
    border-radius: 2rem;
    opacity: 0;
    visibility: hidden; 
    transition-duration: .3s;
    box-shadow: 0 0 2px 1px #555;
}
.loading img {
    position: relative;
    width: 6rem;
    opacity: 0;
    visibility: hidden;
}
.loading.active {
    opacity: 1;
    visibility: visible;
    background-color: rgba(48, 48, 48, 0.75);
    backdrop-filter: blur(7px);
}
.loading.active img {
    opacity: 1;
    visibility: visible;
    animation-name: loading;
    animation-timing-function: linear;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes loading {
    100% {
        transform: rotate(360deg);
    }
}