#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.login-title {
    font-size: 2.05rem;
    color: #111;
}
#loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 90%;
}
.login-error {
    background-color: rgb(253, 219, 219);
    color: rgb(24, 8, 8);
    font-size: 1.1rem;
    border-radius: .5rem;
}
.login-error.active {
    padding: .3rem 1rem;
    border: 2px solid rgb(226, 65, 59);
}
#loginform .form-group {
    width: 60%;
    margin-top: 2.5rem;
}
.form-group input {
    width: 100%;
    font-size: 1.3rem;
    padding: .4rem 2rem;
    border: 2px solid #111;
    outline: none;
    border-radius: .4rem;
}
.form-group input::placeholder {
    color: rgb(138, 138, 138);
}
.log-btn {
    margin-top: 2.5rem;
    font-size: 1.4rem;
    padding: .5rem 3rem;
    border: 3px solid #111;
    outline: none;
    background-color: #222;
    border-radius: .5rem;
    color: #eee;
}
.log-btn:hover {
    background-color: #444;
}
.links {
    margin: 2rem 0;
    font-size: 1.2rem;
    color: #111;
}
.links div {
    margin-top: 1rem;
}
.links a {
    margin-left: .5rem;
    text-decoration: none;
    color:rgb(23, 10, 48);
    font-weight: 500;
    border-bottom: 2px solid #111;
}
.loading {
    position: fixed;
    top: 38vh;
    left: 45vw;
    z-index: 2;
    padding: 1.5rem;
    border-radius: 2rem;
    opacity: 0;
    visibility: hidden; 
    transition-duration: .3s;
    box-shadow: 0 0 3px 1px #666;
}
.loading img {
    position: relative;
    width: 6rem;
    opacity: 0;
    visibility: hidden;
}
.loading.active {
    opacity: 1;
    visibility: visible;
    background-color: rgba(223, 223, 223, 0.75);
    backdrop-filter: blur(5px);
}
.loading.active img {
    opacity: 1;
    visibility: visible;
    animation-name: loading;
    animation-timing-function: linear;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes loading {
    100% {
        transform: rotate(360deg);
    }
}