#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18vh;
}
.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.signup-title {
    font-size: 2rem;
    color: #111;
}
#signupform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.2rem;
    width: 90%;
}
#signupform .form-group {
    width: 60%;
    margin-top: 1.4rem;
    text-align: center;
}
.form-group input {
    width: 100%;
    font-size: 1.3rem;
    padding: .4rem 2rem;
    border: 2px solid #111;
    outline: none;
    border-radius: .4rem;
}
.form-group input::placeholder {
    color: rgb(138, 138, 138);
}
.form-group .error {
    color: rgb(90, 24, 55);
    font-size: 1rem;
    min-height: 1rem;
    font-weight: 400;
}
.su-btn {
    margin-top: 2rem;
    font-size: 1.4rem;
    padding: .5rem 3rem;
    border: none;
    outline: none;
    background-color: #222;
    border-radius: .5rem;
    color: #eee;
    border: 3px solid #111
}
.su-btn:hover {
    background-color: #444;
}
.loginlink {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #111;
}
.loginlink a{
    margin-left: .5rem;
    text-decoration: none;
    color:rgb(23, 10, 48);
    font-weight: 500;
    border-bottom: 2px solid #111;
}
.loading {
    position: fixed;
    top: 45vh;
    left: 45vw;
    z-index: 2;
    padding: 1.5rem;
    border-radius: 2rem;
    opacity: 0;
    visibility: hidden; 
    transition-duration: .3s;
    box-shadow: 0 0 3px 1px #666;
}
.loading img {
    position: relative;
    width: 6rem;
    opacity: 0;
    visibility: hidden;
}
.loading.active {
    opacity: 1;
    visibility: visible;
    background-color: rgba(223, 223, 223, 0.75);
    backdrop-filter: blur(5px);
}
.loading.active img {
    opacity: 1;
    visibility: visible;
    animation-name: loading;
    animation-timing-function: linear;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes loading {
    100% {
        transform: rotate(360deg);
    }
}