<footer id="footer">
    <div class="footer-menu">
        <div class="footer-menu__item"><a href="/">Главная</a></div>
        <div class="footer-menu__item"><a href="/courses">Курс</a></div>
        <!-- <div class="footer-menu__item"><a href="/about">О платформе</a></div> -->
    </div>
    <div class="copyright">© 2021-2022 Copyright PyStorm Academy. All Rights Reserved.</div>
</footer>