<header id="header">
    <div class="header-menu">
        <div class="header-menu__item"><a href="/main">Главная</a></div>
        <div class="header-menu__item ml"><a href="/courses">Курс</a></div>
        <!-- <div class="header-menu__item"><a href="/about">О платформе</a></div> -->
    </div>
    <div class="logo">
        <a href="/"><img src="/Logo.png" alt="logo"><span class="logo-text">PYSTORM ACADEMY</span></a>
    </div>
    
    <div class="auth-menu">
        <div class="auth-menu__item"><a href="/auth/sign-up">Регистрация</a></div>
        <div class="auth-menu__item"><a href="/auth/login">Вход</a></div>
    </div>
</header>