<h2 class='ls-title first'>Обмен значений переменных</h2>
<p>Звучит просто, правда? Но если нужно, чтобы две переменные обменялись значениями, нельзя просто присвоить первой переменной значение второй и наоборот. Это не сработает:</p>
<div class='code'><pre><code class='language-python'>a = 5
b = 6

print(a, b) # выведет 5 6

a = b 
# значение переменной «a» уже не «5», а «6», потому что мы присвоили ей значение b

b = a
# переменной «b» присваивается значение «a», которое предыдущей строчкой мы изменили на «6»

print(a, b) # выведет 6 6</code></pre></div>
<p>Видно, что при таком способе мы теряем значение <span class='line-code'>5</span>, что недопустимо. Есть несколько способов обменять значения переменных: </p>
<ol class="code-list">
    <li>Создать третью переменную, чтобы временно сохранить в ней значение одной из переменных: </li>
    <div class='code'><pre><code class='language-python'>a = 5
b = 6

print(a, b) # выведет 5 6

c = a # сохраняем значение переменной «a», чтобы не потерять его

a = b 

b = c # значение переменной «c» равно прошлому значению переменной «a»

print(a, b) # выведет 6 5</code></pre></div>
    <li>Воспользоваться специальной формулой:</li>
<div class='code'><pre><code class='language-python'>a = 5
b = 6

a = a + b # a = 5 + 6 = 11
b = a - b # b = 11 - 6 = 5 (старое значение переменной «a»)
a = a - b # a = 11 - 5 = 6 (старое значение переменной «b»)

print(a, b) # выведет 6 5</code></pre></div>
    <p class="code-list-p">Это же сработает соответственно с операциями умножения и деления(<span class='line-code'>*</span>, <span class='line-code'>/</span>) вместо сложения и вычитания(<span class='line-code'>+</span>, <span class='line-code'>-</span>). С этой формулой стоит разобраться.</p>
    <li>Способы выше работают во всех языках программирования. Данный способ работает только в Python:</li>
    <div class='code'><pre><code class='language-python'>a = 5
b = 6

a, b = b, a

print(a, b) # выведет 6, 5</code></pre></div>
    <p class="code-list-p">Как это работает? Есть область памяти, которая называется <span class='line-code'>Stack</span>(Стек). Когда мы используем подобную конструкцию, значения <span class='line-code'>a</span> и <span class='line-code'>b</span> помещаются в стек, затем выполняется операция <span class='line-code'>ROT_TWO()</span>(с англ. перевернуть два) и «перевернутые» значения присваиваются переменным.</p>
</ol>