<h2 class='ls-title first'>Пользовательский ввод</h2>
<p>Программе нужно где-то брать информацию для работы, один из способов - получение её из командной строки. Для получения данных с клавиатуры в Pyhton есть функция ввода <span class='line-code'>input()</span>. Когда вызывается функция <span class='line-code'>input()</span>, поток программы останавливается, до тех пор, пока пользователь не введет данные через команную строку.</p>
<p class="note">При использовании <span class='line-code'>input()</span> в нашей встроенной IDE, ещё до выполнения кода вам нужно передать в консоль все данные, которые ваша программа будет использовать. <a href="/help/ide">Подробнее</a></p>
<p> Для завершения ввода нужно нажать <span class='line-code'>Enter</span>. Функция <span class='line-code'>input()</span> считывает строку из консоли и передает её программе. Введенное значение можно сразу присвоить переменной: </p>
<div class='code'><pre><code class='language-python'>entered_value = input() # введенное значение сохранится в переменную entered_value
# допустим, мы ввели в командную строку «Привет Мир!» и нажали Enter

print(entered_value) # выведет «Привет Мир!»</code></pre></div>
<h2 class='ls-title'>Всегда возвращает строку</h2>
<p>Нужно запомнить, что <span class='line-code'>input()</span> всегда возвращает значение в виде строки:</p>
<div class='code'><pre><code class='language-python'>num = input() # допустим, ввели число «1024» и нажали Enter

# функция type() возвращает тип данных объекта, который передан в круглые скобки
print(type(num)) 
# выведет &#60;class 'str'>, что одначает, что тип данных переменной num - string(с англ. строка)
</code></pre></div>
<p>Чтобы работать с введенными данными как с числами, нужно преобразовать их в числовой тип. Для этого существует функция <span class='line-code'>int()</span>, внутрь круглых скобок которой передаем строку, которую можно перевести в число:</p>
<div class='code'><pre><code class='language-python'>num = input() # ввели те же «1024» и нажали Enter
num = int(num)
print(type(num)) 
# выведет &#60;class 'int'>, т.е переменная num типа integer(с англ. целое число)</class></code></pre></div>
<p>Или коротко:</p>
<div class='code'><pre><code class='language-python'>num = int(input()) # сразу переводим введенное значение «1024» в числовой тип данных

print(num * 2) # без ошибок выведет «2048»</code></pre></div>
<h2 class='ls-title'>Дополнительный параметр функции</h2>
<p>У функции <span class='line-code'>input()</span> есть необязательный параметр <span class='line-code'>prompt</span>(с англ. подсказка). С его помощью программа может подсказать пользователю, какие данные она ожидает. Этот параметр указывается внутри круглых скобок: </p>
<div class='code'><pre><code class='language-python'>name = input("Введите имя: ")
# в консоль выведется «Введите имя: », вводим имя «Emily», нажимаем Enter

print("Введенное имя:", name) # в консоль выведется «Введенное имя: Emily»</code></pre></div>
<p>Обратите внимание, что текст <span class='line-code'>Введите имя:</span> не сохранился в переменной, он служит только для подсказки при вводе.</p>
<p class="note">В нашей IDE использование параметра <span class='line-code'>prompt</span> не даст никаких результатов по понятным причинам. Вы указываете все данные для программы до её запуска. В полной мере попрактиковаться с <span class='line-code'>input()</span> можно установив IDE на свое устройство.</p>
<h2 class='ls-title'>Разделение введенного значения</h2>
<p>Бывают случаи, когда данные приходят в виде одной строки, а нужно разделить их на несколько переменных. В таком случае используют метод <span class='line-code'>split()</span>, который в круглых скобках принимает подстроку, по которой он делит строку: </p>
<div class='code'><pre><code class='language-python'>data = input() # допустим, ввели «3, 4, 5» и нажали Enter

a, b, c = data.split(", ") 
# разделяем полученное значение по запятой с пробелом и присваиваем каждое число(пока ещё строку) переменной

print(int(a) + int(b) + int(c)) # 3+4+5=12, выведет «12»
</code></pre></div>
<p>Или коротко:</p>
<div class='code'><pre><code class='language-python'>a, b, c = input().split(", ")</code></pre></div>
<p>Командная строка - только один из источников данных для программ!</p>