<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyStorm</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>Python Storm</h1>

    <form id="ide-form">

        <div class="form-group">
            <label for="codearea">Codearea: </label>
            <textarea name="codearea" id="codearea" cols="30" rows="10">print("Hi!")</textarea>
        </div>
        
        <button id="run">RUN</button>

    </form>

    <h2>Console: </h2>
    <textarea class="ide-console" id="ide-console"></textarea>
    <script src="./script.js"></script>
</body>
</html>