<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyStorm</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <%- include('./partials/header') %>
    <main id="main">
        <section class="intro">
            <div class="blue-blob"></div>
            <div class="red-blob"></div>
            <div class="intro-content">
                <div class="intro-content__left">Интерактивная онлайн платформа</div>
                <div class="intro-content__right">Научитесь программировать на востребованном языке Python, который с каждой секундой становится популярнее! Практика после каждого урока!</div>
            </div>
            <a href="/courses/introduction" class="start-learn">Начать учиться</a>
        </section>
        <section class="about-platform">
            <div class="about-platform-list">
                <div class="about-platform-list__item">
                    <div class="about-platform-list__item-header">
                        <h3 class="about-platform-list__item-title">Курс на интерактивной платформе</h3>
                        <div class="about-platform-list__item-text">Курс на платформе PyStorm Academy - отличное введение как в язык программирования Python, так и в концепции программирования в целом. В процессе его прохождения, вы будете изучать самую последнюю версию Pyhton 3.</div>
                    </div>
                    <img src="/images/aboutPlatform/course.svg" alt="">
                </div>
                <div class="about-platform-list__item">
                    <div class="about-platform-list__item-header">
                        <h3 class="about-platform-list__item-title">Умная структура курса</h3>
                        <div class="about-platform-list__item-text">Курс состоит из 7 модулей, в каждом из которых уроки расположены в продуманной последовательности. Правильный порядок уроков играет ключевую роль в эффективности обучения!</div>
                    </div>
                    <img src="/images/aboutPlatform/structure.svg" alt="">
                </div>
                <div class="about-platform-list__item">
                    <div class="about-platform-list__item-header">
                        <h3 class="about-platform-list__item-title">Без практики никуда</h3>
                        <div class="about-platform-list__item-text">После каждого урока следует раздел практических заданий, в котором вы сможете отточить свои навыки и применить знания, получанные в текущей теме!</div>
                    </div>
                    <img src="/images/aboutPlatform/practice.svg" alt="">
                </div>
                <div class="about-platform-list__item">
                    <div class="about-platform-list__item-header">
                        <h3 class="about-platform-list__item-title">Встроенная среда разработки</h3>
                        <div class="about-platform-list__item-text">Вам не нужно беспокоиться об устанавливке среды разработки на свое устройство. Мы позаботились об этом и она уже встроенна в платформу и выполнит код, который вы напишите!</div>
                    </div>
                    <img src="/images/aboutPlatform/coding.svg" alt="">
                </div>
            </div>
        </section>
        <section class="about-python">
            <div class="python-scope">
                <h2 class="python-scope-title">Области применения Python</h2>
                <div class="python-scope-list">
                    <div class="python-scope-list__item">
                        <div class="scope-img"><img src="/images/scope/AI.svg" alt=""></div>
                        <h3 class="scope-title">Машинное обучение</h3>
                    </div>
                    <div class="python-scope-list__item">
                        <div class="scope-img exam"><img src="/images/scope/exam.svg" alt=""></div>
                        <h3 class="scope-title">Экзамены</h3>
                    </div>
                    <div class="python-scope-list__item">
                        <div class="scope-img"><img src="/images/scope/servers.svg" alt=""></div>
                        <h3 class="scope-title">Серверное программирование</h3>
                    </div>
                    <div class="python-scope-list__item">
                        <div class="scope-img"><img src="/images/scope/game.svg" alt=""></div>
                        <h3 class="scope-title">Разработка игр</h3>
                    </div>
                    <div class="python-scope-list__item">
                        <div class="scope-img"><img src="/images/scope/desctop.svg" alt=""></div>
                        <h3 class="scope-title">Программные приложения</h3>
                    </div>
                    <div class="python-scope-list__item">
                        <div class="scope-img"><img src="/images/scope/mobile.svg" alt=""></div>
                        <h3 class="scope-title">Мобильная разработка</h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="using">
            <div class="using-steps">
                <h2 class="using-title">Как пользоваться платформой</h2>
                <div class="using-steps-list">
                    <div class="using-step">
                        <div class="using-step-info">
                            <h3 class="using-step-title">Изучайте теорию</h3>
                            <div class="using-step-text">В данном курсе теория представлена в текстовом виде с иллюстрациями</div><br>
                        </div>
                        <img src="/images/using/theory.svg" alt="" class="using-step-img">
                    </div>
                    <div class="using-step">
                        <div class="using-step-info">
                            <h3 class="using-step-title">Пробуйте писать код</h3>
                            <div class="using-step-text">Попробуйте написать код во встроенной IDE, применяя только что прочитанный материал</div>
                        </div>
                        <img src="/images/using/writecode.svg" alt="" class="using-step-img">
                    </div>
                    <div class="using-step">
                        <div class="using-step-info">
                            <h3 class="using-step-title">Выполняйте задания</h3>
                            <div class="using-step-text">Рекомендуется выполнять все задания, которые даны после уроков и модулей</div>
                        </div>
                        <img src="/images/using/tasks.svg" alt="" class="using-step-img">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>