@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#ide-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group{
    min-width: 60vw;
}
#codearea {
    width: 60vw;
    height: 40vh;
    resize: none;
    border: 2px solid #000
}
#run {
    width: 6rem;
    height: 2rem;
}
.ide-console {
    border: 2px solid #000;
    width: 30vw;
    height: 20vh;
    resize: none;
}