<h2 class='ls-title first'>Использование параметра sep</h2>
<p>Измените код, используя именованный параметр <span class='line-code'>sep</span> так, чтобы он выводил верное математическое выражение:</p>
<h3 class='ls-mini-title'>Исходный код:</h3>
<div class='code'><pre><code class='language-python'>print('6', '10', '4=20')</code></pre></div>
<h3 class='ls-mini-title'>Ожидаемый вывод:</h3>
<div class="console-result-code"><pre><code class="console-result">6+10+4=20</code></pre></div>