<h2 class='ls-title first'>Мастер комментирования кода</h2>
<p>Исходный код содержит много ошибок, закомментируйте все строки кода, кроме последней, где строка текста выводится в консоль, чтобы программа работала:</p>
<div class='code'><pre><code class='language-python'>def error_function:
    for i in range(10)
        if i = 10:
            print('I = ' + i)
error_function()

print('Я изучу Python и вернусь, чтобы исправить этот код!')</code></pre></div>
<p class="tip">Выделите код и нажмите <span class="line-code">CTRL + /</span> (на Mac <span class="line-code">Command + /</span>), чтобы закомментировать его!</p>
