<h2 class='ls-title first'>Изменение значения переменной</h2>
<p>Робот проверки заданий создаст перед вышим кодом переменную <span class='line-code'>number</span> со значением 1, измените значение переменной <span class='line-code'>number</span>, чтобы оно было равно 200, затем выведите переменную в консоль:</p>
<h3 class='ls-mini-title'>Робот создаст переменную перед вашим кодом:</h3>
<div class='code'><pre><code class='language-python'>number = 1</code></pre></div>
<h3 class='ls-mini-title'>Ожидаемый вывод:</h3>
<div class='console-result-code'><pre><code class='console-result'>200</code></pre></div>
