<h2 class='ls-title first'>Использование параметра end</h2>
<p>Исправьте код, используя именованный параметр <span class='line-code'>end</span>, чтобы он выводил перечень сотрудников в правильном формате:</p>
<h3 class='ls-mini-title'>Исходный код:</h3>
<div class='code'><pre><code class='language-python'>print('Anthony Wagner')
print('James Smith')
print('Maria Cooper')
print('Lucy Fields')
</code></pre></div>
<h3 class='ls-mini-title'>Ожидаемый вывод:</h3>
<div class='console-result-code'><pre><code class='console-result'>Anthony Wagner; James Smith; Maria Cooper; Lucy Fields;</code></pre></div>
<p class="tip">Обратите внимание, что последним символом ожидаемого вывода не является пробел!</p>