<h2 class='ls-title first'>Так переменные не называют</h2>
<p>Ниже представлен код с недопустимыми именами переменных, удалите минимальное количество символов из имён переменных, чтобы они стали допустимыми. Робот проверки самостоятельно выведет все значения переменных в консоль, если они будут допустимыми:</p>
<div class='code'><pre><code class='language-python'>Yahoo! = 'Search'
AirB&B = 'Trevel'
1_hot_dog = 'Hot'
100$MONEY = 'Banknote'</code></pre></div>