<h2 class='ls-title first'>Вывод строки в консоль</h2>
<p class="pre-task">Пришло время выполнить ваше первое задание на платформе PyStorm Academy!</p>
<p>Напишите код, который выводит в командную строку сообщение:</p>
<div class="console-result-code"><pre><code class="console-result">Hello, PYSTORM ACADEMY</code></pre></div>

