<h2 class='ls-title first'>Создание переменных</h2>
<p>Создайте две переменных с именами <span class='line-code'>title</span> и <span class='line-code'>text</span> и присвойте им любые строки, чтобы следующий код смог вывести их в консоль:</p>
<h3 class='ls-mini-title'>Код для проверки:</h3>
<div class='code'><pre><code class='language-python'>print(title, text)</code></pre></div>
<div class="tip">Не нужно использовать код для проверки в свем коде, его использует наш робот проверки заданий. Ваша задача - только создать переменные.</div>