<h2 class='ls-title first'>Срез списка</h2>
<p>Часто ли мы едим целый торт? Наверное, чаще от него отрезают часть и довольствуются этим кусочком. От списка точно так же можно "отрезать" часть, чтобы работать с ней. Она так же будет являться списком. В программировании такой кусок списка называется <strong>срезом</strong>. Получают срез следующим образом:</p>
<div class='code'><pre><code class='language-python'>some_list[start:stop:step]</code></pre></div>
<p>Такая конструкция берет срез списка <span class='line-code'>some_list</span> от индекса <span class='line-code'>start</span> до <span class='line-code'>stop</span>(не включая сам stop, но включая start), c шагом <span class='line-code'>step</span>. По умолчанию <span class='line-code'>start</span> равен 0, <span class='line-code'>stop</span> равен длине списка, <span class='line-code'>step</span> равен 1.</p>
<p>Например, срез элементов <span class='line-code'>[2, 3]</span>:</p>
<div class='code'><pre><code class='language-python'>numbers = [1, 2, 3, 4, 5]

piece = numbers[1:3] # 1 - индекс числа 2
# 3 - индекс числа 4, но последнее число не включается,
# поэтому 4 не будет добавлено в срез

print(piece) # [2, 3]
</code></pre></div>
<p>На самом деле неправильно говорить "отрезать от списка", потому что таким способом элементы просто копируются из списка, а сам он никак не изменяется, чего не скажешь о торте!</p>
<h2 class='ls-title'>Шаг среза</h2>
<p>Параметр шаг регулирует направление среза и частоту добавления элементов в срез:</p>
<div class='code'><pre><code class='language-python'>numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 
# каждый элемент равен своему индексу

# срез списка numbers от начала до конца с шагом 2
numbers_slice = numbers[0:10:2] 

# элементы будут браться через 1, потому что
# индекс каждого следующего элемента на 2 больше предыдущего,
# а не на 1, как по умолчанию
print(numbers_slice) # [0, 2, 4, 6, 8]</code></pre></div>
<h2 class='ls-title'>Отрицательные параметры</h2>
<p>Соответственно, все параметры среза могут быть отрицательными:</p>
<div class='code'><pre><code class='language-python'>numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

numbers[-1:-5:-1] # [9, 8, 7, 6]

numbers[-1:1:-1] # [9, 8, 7, 6, 5, 4, 3, 2]

numbers[-1:-9:-3] # [9, 6, 3]</code></pre></div>
<p>Поскольку есть значения по умолчанию, все или некоторые параметры можно упустить:</p>
<div class='code'><pre><code class='language-python'>text = ['word_1', 'word_2', 'word_3', 'word_4', 'word_5']

text[2:] # от 3 элемента до конца

text[::-1] # перевернет коллекцию</code></pre></div>
<p>Запомните песледнюю строчку, это один из способов перевернуть коллекцию!</p>