<h2 class='ls-title first'>Длина списка</h2>
<p>Процесс получения длины списка такой же, как со строками. В круглые скобки функции <span class='line-code'>len()</span> передается список и функция возвращает число, равное длине данного списка:</p>
<div class='code'><pre><code class='language-python'>planets = ['Меркурий', 'Венера', 'Земля', 'Марс']

planets_length = len(planets) # переменной присвоилось число - длина списка
print(planets_length) # 4</code></pre></div>
<h2 class='ls-title'>Колличество элементов в коллекции</h2>
<p>Оператор <span class='line-code'>in</span> определяет наличие элемента в списке. Чтобы найти колличество повторений элемента, в Python у строк и списков есть метод <span class='line-code'>.count()</span>. В круглые скобки передается значение, которое нужно посчитать. А до точки передается сама коллекция(или переменная, значением которой является коллекция):</p>
<div class='code'><pre><code class='language-python'>marks = [3, 3, 5, 4, 4, 4, 5, 5, 3, 3] # список, содержащий оценки
# найдем, сколько всего троек среди оценок
print(marks.count(3)) # 4</code></pre></div>
<p>Не ломайте голову на тему того, что такое функция, метод, позже мы обязательно изучим и то, и другое. А пока, чтобы вы могли различать одно от другого:</p>
<ol class="code-list">
    <li>Функция вызывается так:</li>
    <div class='code'><pre><code class='language-python'>&#60;имя функции>(&#60;значение>)

print('123') 
# print - это имя функции, '123' - это какое-то значение</code></pre></div>
    <li>Метод вызывается иначе:</li>
    <div class='code'><pre><code class='language-python'>&#60;объект, для которого вызывается метод>.&#60;имя метода>(&#60;значение>)

['h', 'g', 'h', 'i'].count('h') 
# в данном случае метод count() вызывается для списка перед точкой
# и в круглые скобки передается значение 'h'</code></pre></div>
</ol>
<h2 class='ls-title'>Метод <span class='line-code'>count</span> в строках</h2>
<p>Метод <span class='line-code'>count()</span> так же работает со строками и позволяет посчитать колличество певторений данной подстроки в строке. Синтаксис такой же, только вместо списка передается строку и значением внутри круглых скобок может быть только строка:</p>
<div class='code'><pre><code class='language-python'>password = '123power123'

print(password.count('123')) # 2</code></pre></div>