<h2 class='ls-title first'>Отступы вложенных блоков кода</h2>
<p>Большинство языков программирования, таких как C++, JavaScript, C# используют фигурные скобки <span class='line-code'>{ }</span> для определения вложенного блока кода. В Python же применяются отступы:</p>
<div class='code'><pre><code class='language-python'>if True:
    print("It's true!")</code></pre></div>
<p>В Python каждый следующий вложенный блок имеет отступ от начала строки больше, чем предыдущий:</p>
<div class='code'><pre><code class='language-python'>if 1 > 0:
    x = True
    if x:
        print("Hello!")</code></pre></div>
<p>Размер отступа может быть любым, но рекомендуется использовать 4 пробела(1 знак табуляции). То есть в примере выше на второй строке от начала строки до текста <span class='line-code'>x = True</span> расстояние в 4 пробела, на последней строке от начала строки до текста <span class='line-code'>print("Hello!")</span> расстояние в 8 пробелов(2 таба)</p>
<h2 class='ls-title'>Везде одинаковые отступы</h2>
<p>Используйте одинаковые отступы для всего файла кода, если начали использовать 4 пробела, дальше по коду используете только их, начали 1 таб(да, у таба и 4x пробелов тоже есть различия), значит используете только таб, иначе будет ошибка <span class='line-code'>IndentationError</span>. Это плохой пример кода, который завершится с ошибкой, т.к используются разные отступы:</p>
<div class='code'><pre><code class='language-python'>if True:
    print(1)
    if True:
     print(2)
        if True:
         print(3)
</code></pre></div>
<p>Эта информация пригодится вам для следующих уроков, потому что с этого момента мы заканчиваем писать программы одним сплошным блоком и переходим к ветвлению кода.</p>