#main {
    font-family: 'Ubuntu', 'Arial', sans-serif;
    padding-top: 15vh;
    min-height: 100vh;
}
.module-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 5vw;
}
.modules {
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1.25rem;
    border-radius: 1rem;
    margin-top: 1rem;
    box-shadow: 2px 2px 7px 1px #333;
}
.modules-title {
    color: #eee;
    font-weight: 500;
    font-size: 1.6rem;
}
.module-list {
    font-size: 1.3rem;
    margin-top: 1.75rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.module__item {
    margin-top: 1rem;
}
.module__item a {
    text-decoration: none;
    color: #ddd;
    padding: .3rem;
}
.module__item a:hover{
    color: #666;
}
.module__item.current a{
    color: #3982ff;
}
.module__item.current a:hover {
    color: #275199;
}
.module-lessons {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #222;
    box-shadow: 0 0 8px 4px #444;
    padding: 2rem 1rem 1rem 1rem;
    border-radius: 1rem;
}
.module-title {
    align-self: center;
    color: #eee;
    font-weight: 500;
    font-size: 2rem;
}
.lesson-list {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}
.lesson__item {
    margin-top: 1.25rem;
}
.lesson__item a {
    color: #ddd;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    padding: .4rem;
}
.lesson__item a:hover {
    color: #666;
}
.module-stats {
    margin-top: 1rem;
    padding: .8rem .4rem;
    width: 12%;
    background-color: #222;
    border-radius: 1rem;
    box-shadow: -2px 2px 7px 1px #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#lessons-chart {
    margin-top: 1rem;
    width: 6.5rem;
    height: 6.5rem;
}
#tasks-chart {
    margin-top: 1rem;
    width: 6.5rem; 
    height: 6.5rem;
}
.stats-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ddd;
}
.lessons-stat {
    margin-top: 1rem;
}
.tasks-stat {
    margin-top: 1rem;
}
.chart-title {
    text-align: center;
    margin-top: .3rem;
    color: #ddd;
    font-size: 1rem;
}
.some {
    color: #397ff7
}