<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyStorm</title>
    <link rel="stylesheet" href="/stylesheets/course/courses.css">
    <link href='https://unpkg.com/boxicons@2.1.0/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <%- include('../partials/header') %>
    <main id="main">
        <div class="module-wrapper">
            <section class="modules">
                <h2 class="modules-title">Модули уроков</h2>
                <div class="module-list">
                    <% modules.forEach(mdl => { %>
                        <div class="module__item"><%= mdl.name %> <img src="./images/courses/caret.svg" alt="" class="caret"></div>
                    <% }) %>
                </div>
            </section>
            <section class="module-lessons">
                <h2 class="module-title">Название модуля</h2>
                <div class="lesson-list">
                    <div class="lesson__item"> <a href="/courses/lesson/id">Тема модуля Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, officia!</a></div>
                    <div class="lesson__item">Тема модуля Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, officia!</div>
                    <div class="lesson__item">Тема модуля Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, officia!</div>
                    <div class="lesson__item">Тема модуля Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, officia!</div>
                    <div class="lesson__item">Тема модуля Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, officia!</div>
                    <div class="lesson__item">Тема модуля Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, officia!</div>
                    <div class="lesson__item">Тема модуля Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, officia!</div>
                    <div class="lesson__item">Тема модуля Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, officia!</div>
                </div>
            </section>
        </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="./scripts/courses/courses.js"></script>
</body>
</html>