<h2 class='ls-title first'>Вывод результата сравнения чисел</h2>
<p>Создайте следующие 2 переменные:</p>
<div class='code'><pre><code class='language-python'>num_1 = 19

num_2 = -19</code></pre></div>
<p>Затем выведите в консоль результаты сравнения <span class='line-code'>num_1</span> и <span class='line-code'>num_2</span> следующими операторами сравнения: <span class='line-code'>==</span> и <span class='line-code'>!=</span>. Используйте две функции <span class='line-code'>print()</span>, выводя результаты в той последовательности, в которой даны операторы.</p>
<h3 class='ls-mini-title'>Ожидаемый формат вывода:</h3>
<div class='console-result-code'><pre><code class='console-result'>&#60;результат ==>
&#60;результат !=></code></pre></div>